<header>
    <div class="container">        
        <div class="navbar">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo_w.png" alt="logo" class="logo" /></a>

            <div class="navbarItem">
                <a asp-area="" asp-controller="Portfolio" asp-action="Index" asp-route-id="0" class="navbarItemA">Обо мне</a>
            </div>
            <div class="navbarItem">   
                <a asp-area="" asp-controller="Portfolio" asp-action="Index" asp-route-id="0" class="navbarItemA">Портфолио</a>
            </div>
            <div class="navbarItem">
                <a href="#" class="navbarItemA">Стоимость</a>
            </div>
            <div class="navbarItem">
                <a href="#" class="navbarItemA">Отзывы</a>
            </div>
            <div class="navbarItem">
                <a asp-area="" asp-controller="Helper" asp-action="Index" class="navbarItemA">Ваш помощник</a>
            </div>
            <div class="navbarItem">
                <a class="navbarItemA" asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
            </div>ы
        </div>
    </div>
</header>
