<section class="helper">
    <div class="container">
        <h1>Ваш помощник</h1>
        <div class="helper__desc">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        </div>
        <form action="Helper" method="post">
            <input type="submit" name="StartTest" value="Перейти к помощнику" />
        </form>
    </div>
</section>