@{
    ViewData["Title"] = "TsukanovaDesign";
}
<div class="slidebar">
    <img src="~/img/mainSlidebar/1.jpg" alt="" class="slidebarImg" />
    <img src="~/img/mainSlidebar/2.jpg" alt="" class="slidebarImg" />
    <img src="~/img/mainSlidebar/3.jpg" alt="" class="slidebarImg" />
</div>
<div class="container">
    <section class="aboutMe__main">
        <div class="aboutMe__main__photo">
            <img src="~/img/aboutMe/main.jpeg" alt=""/>
        </div>
        <div class="aboutMe__main__desc">
            <h1>Обо мне</h1>
            <div class="aboutMe__main__desc__txt">
                <p>Моя любовь к интерьерам и ремонту началась еще с детского возраста. Многие в своей жизни проходили в детстве этот этап - этап ремонта, когда кажется, что весь процесс очень сложен, вокруг одна пыль, а ты ребенок и хочешь, чтобы перестали шуметь.</p>
                <p>Однако, я сразу взглянула на этот процесс иначе. Было так интересно наблюдать, как рушатся перегородки, перекладывается пол, появляются новые светильники, а пространство трансформируется до неузнаваемости, так еще и мама с папой спрашивают тебя, какой ты хочешь видеть свою комнату. Меня настолько захватила романтика ремонта, все подборы отделочных материалов и поездки по "взрослым" строительным магазинам, что теперь я точно знала, что хочу заниматься ремонтом всю свою жизнь.</p>
                <p>Родившись в семьей инженеров и строителей, я точно понимала, что помимо художественного образования для создания интерьеров нужна техническая база. Поэтому в школе я целенаправленно готовилась к поступлению в строительный институт, а после его окончания завершила обучение в магистратуре по направлению "Дизайн среды".</p>
                <p>Однако, мало получить образование, нужно уметь его применить. Поэтому после институтов была увлекательная работа светодизайнером, где я прошла повышение квалификации по "Световому дизайну" у известного итальянского дизайнера Roberto Corradini, посетила множество выставок, включая международную "Light&Building", а также получила огромный опыт в проектировании освещения для промышленных и коммерческих объектов.</p>
                <p>Время шло, а мечта оставалась мечтой. Однако, я не привыкла сдаваться, поэтому в один день, поверив в свои силы и получив поддержку от родных и близких, приняла решение уволиться и начать свое дело. Было местами непросто, но очень интересно, ведь я всегда знала, что дизайн интерьеров - дело моей жизни.</p>
                <p>По сей день я уверена, что двигаюсь с вами в правильном направлении. В каждый проект я вкладываю частичку своей души, проживая с вами все этапы ремонта, ведь вы мне доверяете самое ценное - ваш дом, вашу атмосферу в коллективе, ваши ожидания и мечты.  А я сделаю всё для того, чтобы Вы были счастливы в вашем интерьере!</p>
            </div>
        </div>
    </section>
    <hr />
    <section class="portfolio">
        <h1>Порфолио</h1>
        <div class="mainPortflio">
            <div class="portfolio__tab">
                @for (int i = 1; i <= 4; i++)
                {
                    <div class="portfolio__tab__item">
                        <a href="#" class="portfolio__a"><img src="~/img/portfolio/@i/0.jpg" alt="Alternate Text" /></a>
                    </div>
                }
            </div>
            <button>Показать все</button>
        </div>
    </section>
</div>
