header {
    background-color: #313030;
}

img.logo {
    height: 70px;
    margin: 10px 30px;
}

a.navbarItemA {
    color: #ffffff;
    font-size: large;
}

a.navbarItemA:hover {
    color: #f3b565;
    text-decoration: none;
}
