@model ObjectOfPortfolio
@{
    ViewBag.Title = Model.Name;
}
<section class="portfolio__item">
    <div class="container">
        <div class="portfolio__item__mainPhoto">
            <img src="~/img/portfolio/@Model.Id/main.jpg" alt="MainPhoto" />
        </div>
        <h2>@Model.Name</h2>
        <div class="portfolio__item__subtitle">
            <div class="square">
                Площадь: @Model.Square кв.м.
            </div>
            <div class="year">
                Дата работы над проектом: @Model.DateOfWorkOnProject.Year г.
            </div>
        </div>
        <div class="portfolio__item__desc">
            Описание: @Model.Description
        </div>
        <div class="portfolio__tab">
            @for (int i = 1; i <= Model.CountOfPics; i++)
            {
                string path = $"{Model.Id}/{i}.jpg";

                <div class="portfolio__tab__item">
                    <img src="~/img/portfolio/@path" alt="Alternate Text" />
                </div>
            }

        </div>
    </div>
</section>
